.typing-effect{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding-left: 7vw;
    color: #2d3038;
    letter-spacing: 5px;
    text-align: left;
}
.second-part{
    color: orange;
}